.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup.show {
	visibility: visible;
	opacity: 1;
}

.popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.close-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
